.boxhead a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.MuiButton-label {
  color: black;
  font-weight: 300;
  text-transform: none;
  margin: 0 1vw;
  align-items: center;
  font-size: $s-size;
  .icon-margin {
    margin-right: 1rem;
  }
}

.rv-xy-plot {
  // decouples the outer container width from inner container width (width check happens before svg render)
  position: absolute;
  // masks any glitches caused by denounce on resize event (obv combined with a bit lighter denounce would help more)
  overflow: hidden;
  width: 100%;
  height: 40vw;
}
