$primary-blue: #01c9e1;
$yellow: #ffb600;
$red: #ff5a39;
$off-white: #f9f9f9;
$light-grey: #bbbbbb;
$grey: #676767;
$white: #ffffff;
$black: #000000;

$glance1: #bad4da;
$glance2: #8ccdd9;
$glance3: #68b9c3;

$s-size: 1vw;
$m-size: 1.6rem;
$m-plus-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$widget-size: 90vw;
$margin-size: 2vw;
$widget-height: 12vw;
