.tile_text {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1.6vw;
}
@media (max-width: 30em) {
  .tile_text {
    font-size: 4vw;
  }
}
.tile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &.glance1 {
    background: rgba(234, 237, 238, 1);
  }
  &.glance2 {
    background: $glance2;
  }
  &.glance3 {
    background: $glance3;
  }
  width: ($widget-size / 4) - 4 * $margin-size;
  height: $widget-height/1.2;
}
